.featured-section {
  background-color: var(--gray-08);
}
.featured-section .container {
  padding-top: 150px;
}
.featured-section .container .button-2 {
  padding: 14px 20px;
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  background-color: var(--gray-08);
  border: 1px solid var(--gray-15);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  display: none;
}
.featured-section .container .title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 200px;
  padding-bottom: 80px;
}
.featured-section .container .title-container .title {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.featured-section .container .title-container .title h2 {
  font-size: var(--big);
  font-weight: var(--font-weight-semibold);
}
.featured-section .container .title-container .title p {
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  color: var(--gray-60);
}
.featured-section .container .title-container .button-1 {
  padding: 18px 24px;
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  background-color: var(--gray-08);
  border: 1px solid var(--gray-15);
  border-radius: 10px;
  cursor: pointer;
  flex-shrink: 0;
}
.featured-section .container .card-container .swiper-container .swiper-wrapper {
  padding-bottom: 50px;
}
@media screen and (max-width: 1440px) {
  .featured-section .container .card-container .swiper-container .swiper-wrapper {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .featured-section .container .card-container .swiper-container .swiper-wrapper {
    padding-bottom: 30px;
  }
}
.featured-section .container .card-container .swiper-container .line {
  width: 100%;
  height: 1px;
  background-color: var(--gray-15);
}
.featured-section .container .card-container .swiper-container .swiper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.featured-section .container .card-container .swiper-container .swiper-footer .number {
  font-size: var(--small);
  font-weight: var(--font-weight-medium);
}
.featured-section .container .card-container .swiper-container .swiper-footer .number span {
  color: var(--gray-60);
}
@media screen and (max-width: 1024px) {
  .featured-section .container .card-container .swiper-container .swiper-footer .number {
    display: none;
  }
}
.featured-section .container .card-container .swiper-container .swiper-footer .button-1 {
  padding: 14px 20px;
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  background-color: var(--gray-08);
  border: 1px solid var(--gray-15);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  display: none;
}
@media screen and (max-width: 1024px) {
  .featured-section .container .card-container .swiper-container .swiper-footer .button-1 {
    display: block;
  }
}
.featured-section .container .card-container .swiper-container .swiper-footer .hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .featured-section .container .card-container .swiper-container .swiper-footer .hidden {
    display: block;
  }
}
@media screen and (max-width: 1440px) {
  .featured-section .container .card-container .swiper-container .swiper-footer {
    padding-top: 16px;
  }
}
.featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-08);
  gap: 10px;
  border-radius: 100px;
}
.featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-prev,
.featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-next {
  color: var(--white);
  background-color: var(--gray-10);
  aspect-ratio: 1;
  height: 58px;
  border-radius: 50%;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid var(--gray-15);
  background-size: 35px;
}
@media screen and (max-width: 1440px) {
  .featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-prev,
  .featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-next {
    height: 44px;
    background-size: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-prev,
  .featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-next {
    height: 38px;
    background-size: 25px;
  }
}
.featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-prev {
  background-image: url("./icons/prev.svg");
}
.featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-next {
  background-image: url("./icons/next.svg");
}
.featured-section .container .card-container .swiper-container .swiper-footer .swiper-button-container .swiper-button-disabled {
  opacity: 0.6;
  border-color: var(--gray-20);
  background-color: transparent;
}
.featured-section .container .card-container .card {
  border-radius: 12px;
  border: 1px solid var(--gray-15);
  overflow: hidden;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 512px;
  height: 100%;
}
.featured-section .container .card-container .card .card-image {
  width: 100%;
  aspect-ratio: 72/53;
  overflow: hidden;
  border-radius: 10px;
}
.featured-section .container .card-container .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-section .container .card-container .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.featured-section .container .card-container .card .card-content .card-title {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.featured-section .container .card-container .card .card-content .card-title h3 {
  font-size: var(--medium);
  font-weight: var(--font-weight-semibold);
}
.featured-section .container .card-container .card .card-content .card-title p {
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  color: var(--gray-60);
}
.featured-section .container .card-container .card .card-content .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-section .container .card-container .card .card-content .card-footer .price-box {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.featured-section .container .card-container .card .card-content .card-footer .price-box h2 {
  font-size: var(--medium);
  font-weight: var(--font-weight-semibold);
  color: white;
}
.featured-section .container .card-container .card .card-content .card-footer .price-box p {
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  color: var(--gray-60);
}
.featured-section .container .card-container .card .card-content .card-footer button {
  padding: 18px 24px;
  font-size: var(--extra-small);
  font-weight: var(--font-weight-medium);
  background-color: var(--purple-60);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 1440px) {
  .featured-section .container .title-container {
    padding-bottom: 60px;
  }
  .featured-section .container .card-container .card {
    padding: clamp(20px, 20px + 10 * (100vw - 1024px) / 416, 30px);
    gap: 24px;
    max-width: none;
  }
  .featured-section .container .card-container .card .card-content {
    gap: 24px;
  }
  .featured-section .container .card-container .card .card-content .card-footer {
    gap: 10px;
  }
  .featured-section .container .card-container .card .card-content .card-footer button {
    padding: 14px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .featured-section .container {
    padding-top: 80px;
  }
  .featured-section .container .button-2 {
    display: block;
    width: 100%;
  }
  .featured-section .container .title-container {
    padding-bottom: 40px;
  }
  .featured-section .container .title-container .button-1 {
    display: none;
  }
  .featured-section .container .card-container {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  .featured-section .container .card-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .featured-section .container .card-container .card {
    max-width: 100%;
  }
}

/*# sourceMappingURL=featuredsection.css.map */
