.login-section {
    background-color: var(--gray-08);

    .container {
        display: grid;
        grid-template-columns: 1.25fr 1fr;
        align-items: center;
        justify-content: space-between;
        column-gap: 40px;

        .image-content {
            height: 1040px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: cover;
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .login-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 60px;

            .login-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 14px;
                padding-bottom: 0;

                h2 {
                    font-size: var(--big);
                    font-weight: var(--font-weight-semibold);
                    color: white;
                }

                p {
                    font-size: var(--extra-small);
                    font-weight: var(--medium);
                    color: var(--gray-60);
                }
            }

            .login-form {
                padding: 40px;
                border-radius: 10px;
                border: 1px solid var(--gray-15);

                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        gap: 14px;

                        label {
                            font-size: var(--small);
                            font-weight: var(--font-weight-medium);
                            color: white;
                        }

                        input {
                            padding: 20px 24px;
                            border-radius: 6px;
                            border: 1px solid var(--gray-15);
                            background-color: var(--gray-08);
                            color: white;
                            font-size: var(--extra-small);
                        }
                        input[type="password"] {
                            font-family: Verdana, sans-serif; /* Example font */
                        }
                        input[type="password"]::placeholder {
                            font-family: 'Urbanist', sans-serif; /* Example font */
                        }
                        
                    }

                    .check-group {
                        // Mixin for flexbox with center alignment
                        margin-top: 40px;
                        position: relative;
                        padding: 20px 0;
                        
                    }

                    .check-group input[type="checkbox"] {
                        opacity: 0;
                        cursor: pointer;
                        height: 28px;
                        width: 28px;
                        text-align: center;
                        position: absolute;

                    }

                    .check-group label {
                        text-align: center;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: var(--small);
                        color: var(--gray-60);
                    }

                    .check-group label::before {
                        content: "";
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        border: 1px solid var(--gray-15);
                        border-radius: 4px;
                        background-color: var(--gray-10);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }

                    .check-group input[type="checkbox"]:checked+label::before {
                        content: "\02713"; // Checkmark character code (adjust for other icons)
                        color: white;
                        text-align: center;

                    }


                    .button-1 {
                        padding: 18px 24px;
                        border-radius: 8px;
                        color: white;
                        font-size: var(--extra-small);
                        background-color: var(--purple-60);
                        border: none;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                }

            }
        }




    }
}

@media screen and (max-width: 1440px) {
    .login-section{
        .container{
            column-gap: 30px;
            .login-content{

                .login-form{
                    padding: 30px;

                    .form{

                        .check-group input[type="checkbox"] {
                            height: 24px;
                            width: 24px;
                        }
                        .check-group label::before {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .login-section{
        .container{
            grid-template-columns: 1fr;
            padding-top: 80px;
            .image-content{
                display: none;
            }
            .login-content{
                gap: 40px;
                
                .login-form{
                    padding: 30px;
                    .form{
                        gap: 16px;
                        .form-group{
                            label{
                                font-size: var(--extra-small);
                            }
                            input{
                                padding: 16px 20px;
                                font-size: var(--extra-small);
                            }
                        }
                        .check-group{
                            margin-top: 0;
                            label{
                                font-size: var(--extra-small);
                            }
                        }
                        .button-1{
                            padding: 16px 20px;
                            font-size: var(--extra-small);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .login-section{
        .container{
            padding-top: 60px;
            .login-content{
                gap: 30px;
                .login-form{
                    padding: 20px;
                    
                }
            }
        }
    }
}