body{
    background-color: var(--gray-10);
}

.header-section{
    background-color: var(--gray-10);
    color: white;
    border-bottom: 1px solid var(--gray-15) ;

    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .active{
            padding: 14px 24px;
            background-color: var(--gray-08);
            border-radius: 10px;
            border: 1px solid var(--gray-15);
        }
        button{
            display: none;
        }
        .logo{
            display: flex;
            align-items: center;
            font-size: var(--medium);
            a{
                text-decoration: none;
                color: white;
                font-weight: var(--font-weight-bold);
            }
            img{
                width: 50px;
                height: 50px;
            }
        
        
        }
        .navbar{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                gap: 30px;
                
                li{
                    color: white;
                    font-size: var(--extra-small);
                    cursor: pointer;
                }
            }
        }

        .sign-up{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                font-size: var(--extra-small);
                list-style: none;
                color: white;
                cursor: pointer;
            }
        }
        .sidebar{
            display: none;
        }

    }
}

@media screen and (max-width: 1440px){
    .header-section{
        .container{
            padding-top: 16px;
            padding-bottom: 16px;
            .active{
                padding: 14px 20px;

            }

            .navbar{
                ul{
                    gap: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .header-section{
        .container{
            
        }
    }
    
    
}

@media screen and (max-width: 600px){
    
    
    
}


@media screen and (max-width: 420px){
    
    
    
}