@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

:root{
    --purple-60: #703bf7;
    --purple-65: #8254F8;
    --purple-70: #946cf9;
    --purple-75: #A685FA;
    --purple-90: #DBCEFD;
    --purple-95: #EDE7FE;
    --purple-97: #F4F0FE;
    --purple-99: #FBFAFF;

    --white-90: #E4E4E7;
    --white-95: #F1F1F3;
    --white-97: #F7F7F8;
    --white-99: #FCFCFD;

    --gray-08: #141414;
    --gray-10: #1A1A1A;
    --gray-15: #262626;
    --gray-20: #333333;
    --gray-30: #4D4D4D;
    --gray-40: #666666;
    --gray-50: #808080;
    --gray-60: #999999;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --Extra-big: 60px;
    --big: 48px;
    --medium: 24px;
    --small: 20px;
    --extra-small: 18px;
}
.no-scroll{
    overflow: hidden;
}
.container{
    max-width: 1920px;
    margin: auto;
    padding: 0 clamp(80px, calc(80px + (162 - 80) * ((100vw - 1440px) / (1920 - 1440))), 162px);
}

@media screen and (max-width: 1440px){
    :root{
        --Extra-big: 46px;
        --big: 38px;
        --medium: 20px;
        --small: 18px;  
        --extra-small: 16px;
    }
    .container{
        padding: 0 clamp(40px, calc(40px + (80 - 40) * ((100vw - 1024px) / (1440 - 1024))), 80px);
    }
    
}

@media screen and (max-width: 1024px){
    
    .container{
        padding: 0 clamp(20px, calc(20px + (40 - 20) * ((100vw - 600px) / (1024 - 600))), 40px);
    }
    
}

@media screen and (max-width: 600px){
    :root{
        --Extra-big: 28px;
        --big: 28px;
        --medium: 18px;
        --small: 16px;  
        --extra-small: 14px; 
    }
    .container{
        padding: 0 clamp(16px, calc(16px + (20 - 16) * ((100vw - 420px) / (600 - 420))), 20px);
    }
    
}


@media screen and (max-width: 420px){
    
    .container{
        padding: 0 16px;
    }
    
}