.profile-container{
    padding: 36px 36px 12px  36px;
    .title{
        h2{
            font-size: var(--big);
            margin-bottom: 20px;
        
        }
    }
    .subcontainer{
        .profile{
            display: flex;
            border-radius: 8px;
            gap: 30px;
            padding: 24px;
            background-color: var(--gray-10);
            margin-bottom: 30px;
            .profile-image{
                aspect-ratio: 1/1;
                border-radius: 6px;
                background-size: cover;
                height: 200px;
                position: relative;
                .modal-button{
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    background-color: var(--gray-08);
                    padding: 5px 10px;
                    border-radius: 6px;
                    border: none;
                    opacity: 0.7;
                    cursor: pointer;

                    &:hover{
                        opacity: 1;
                    }
                    
                }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                }
            }
            .profile-info{
                display: flex;
                flex-direction: column;

                h3{
                    font-size: var(--big);

                }
                p{
                    color: var(--gray-50);

                }
                .joined{
                    font-size: var(--extra-small);
                    margin-bottom: 20px;
                }
                .email,.phone,.verified,.unverified{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: var(--extra-small);
                    svg{
                        width: var(--small);
                        height: var(--small);
                    }
                }
                .email{

                    font-size: var(--extra-small);
                    margin-bottom: 2px;
                    svg{
                        path{
                            stroke: var(--gray-50);
                        }
                    }

                }
                .phone{
                    font-size: var(--extra-small);
                    margin-bottom: 10px;
                    svg{
                        path{
                            fill: var(--gray-50);
                        }
                    }

                }
                .verified{
                    --verified: rgb(45, 131, 19);
                    font-size: var(--extra-small);
                    color: var(--verified);
                    svg{
                        path{
                            fill: var(--verified);
                            stroke: transparent;
                        }
                    }
                }
                .unverified{
                    --notverified: rgb(224, 82, 26);
                    font-size: var(--extra-small);
                    color: var(--notverified);
                    svg{
                        path{
                            fill: var(--notverified);
                            stroke: transparent;
                        }
                    }
                }
            }
            
        }
        .editForm-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            .updateItem{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid var(--gray-15);
                // border-radius: 8px;
                
                padding: 30px;

                h3{
                    font-size: var(--medium);
                    margin-bottom: 30px;
                }
                .form-input{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 20px;
                    label {
                        font-size: var(--extra-small);
                        font-weight: var(--font-weight-medium);
                        color: white;
                    }

                    input {
                        padding: 20px 24px;
                        border-radius: 6px;
                        border: 1px solid var(--gray-15);
                        background-color: var(--gray-08);
                        color: white;
                        font-size: var(--extra-small);
                    }
                    input[type="password"] {
                        font-family: Verdana, sans-serif; /* Example font */
                    }
                    input[type="password"]::placeholder {
                        font-family: 'Urbanist', sans-serif; /* Example font */
                    }
                }
                .button{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p{
                        font-size: var(--extra-small);
                        color: var(--gray-50);
                    }
                    button{
                        padding: 14px 24px;
                        border-radius: 8px;
                        color: white;
                        font-size: var(--extra-small);
                        background-color: var(--purple-60);
                        border: none;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                }
                
                
            }

        }

        .modal{
            position:fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.5);
            backdrop-filter: blur(5px);
            z-index: 1000;
            .modal-content{
                background-color: var(--gray-10);
                padding: 40px;
                border-radius: 8px;
                border: 1px solid var(--gray-15);
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-width: 480px;

                .error{
                    color: rgb(230, 68, 57);
                    font-size: var(--extra-small);
                }
                .modal-header{
                    h2{
                        font-size: var(--medium);
                        width: 400px;
                    }
                }

                .image-upload{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .no-image{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p{
                            font-size: var(--extra-small);
                            color: var(--gray-50);
                        }
                    }
                    .input{
                        input{
                            display: none;
                        }
                        label{
                            padding: 10px 20px;
                            border-radius: 8px;
                            color: white;
                            font-size: var(--extra-small);
                            border: 1px solid var(--gray-15);
                            cursor: pointer;
                        }
                    }
                    .cropper{
                        aspect-ratio: 1/1;
                        border-radius: 8px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .button-container{
                    display: flex;
                    gap: 20px;
                    button{
                        padding: 10px 24px;
                        border-radius: 8px;
                        color: white;
                        font-size: var(--extra-small);
                        background-color: var(--purple-60);
                        border: none;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                }
            }

        }
    }
}