.popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px 20px;
    top: 0;
    left: 0;
    backdrop-filter: blur(1rem);
    border-radius: 12px;
    border: 1px solid var(--gray-15);
    .message-field{
        p{
            font-size: var(--medium);
            color: white;


        }
    }
    .popup-button{
        padding: 10px 20px;
        background-color: var(--purple-60);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}